@import "tailwindcss";

button:disabled {
    background-color: #ccc;
    /* Cambia il colore di sfondo per il bottone disabilitato */
    color: #777;
    /* Cambia il colore del testo per il bottone disabilitato */
    cursor: not-allowed;
    /* Cambia il cursore per far capire che il bottone è disabilitato */
    opacity: 0.5;
    /* Riduce l'opacità per dare un effetto visivo di disabilitazione */
}

#root {
    background-color: rgb(250, 249, 248);
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}

button {
    border: 4px;
    border-radius: 20px;
    color: white;
}

button:hover {
    background-color: #6b6b6bfe;
}

html,
body,
#root {
    min-height: 100vh;
}

.defaultNote {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-width: 2px;
    border-color: #D1D5DB;
    padding: 3px;
    border-radius: 1rem;
    width: 350px;
    max-width: max-content;
}

.hidden-on-hover {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover .hidden-on-hover {
    opacity: 1;
}

/*utility classes for displaying elements in the ladle env*/
.justify-end {
    display: flex;
    justify-content: flex-end;
}

.btn-primary {
    background-color: rgb(27, 17, 230);
}

.btn-secondary {
    background-color: rgb(179, 176, 176);
}

.btn-lg {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem
}

.btn-sm {
    font-size: 0.75rem;
    padding: 0.25rem 1rem
}

.btn-md {
    font-size: 1rem;
    padding: 0.50rem 1.25rem
}