@import "tailwindcss";

button:disabled {
    background-color: #ccc;
    /* Cambia il colore di sfondo per il bottone disabilitato */
    color: #777;
    /* Cambia il colore del testo per il bottone disabilitato */
    cursor: not-allowed;
    /* Cambia il cursore per far capire che il bottone è disabilitato */
    opacity: 0.5;
    /* Riduce l'opacità per dare un effetto visivo di disabilitazione */
}

#root {
    background-color: rgb(250, 249, 248);
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: #cacaca90;
    border: 4px;
    padding: 10px;
    border-radius: 20px;
}

button:hover {
    background-color: #bfbebefe;
}

html,
body,
#root {
    min-height: 100vh;
}

.defaultNote {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-width: 2px;
    border-color: #D1D5DB;
    padding: 3px;
    border-radius: 1rem;
    width: 350px;
    max-width: max-content;
}

.hidden-on-hover {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover .hidden-on-hover {
    opacity: 1;
}

/*utility classes for displaying elements in the ladle env*/
.justify-end {
    display: flex;
    justify-content: flex-end;
}

.padding {
    padding: 3px;
}

.fixed-inset-0-bg-black-30 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.flex-col-bg-white-m-5-p-5-rounded-3xl {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 1.5rem;
}

.custom-center-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    width: 100vw;

    align-items: center;
    justify-content: center;
    padding: 1rem;
}